<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.dao.StockRealTimeLevelDAO" >
  <resultMap id="BaseResultMap" type="com.stock.model.StockRealTimeLevelDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stock_realtime_id" property="stockRealtimeId" jdbcType="BIGINT" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="amout" property="amout" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stock_realtime_id, trade_type, price, amout
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.stock.model.StockRealTimeLevelDOCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_stock_realtime_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_stock_realtime_level
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_stock_realtime_level
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.stock.model.StockRealTimeLevelDOCondition" >
    delete from t_stock_realtime_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stock.model.StockRealTimeLevelDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_stock_realtime_level (stock_realtime_id, trade_type, price, 
      amout)
    values (#{stockRealtimeId,jdbcType=BIGINT}, #{tradeType,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{amout,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.model.StockRealTimeLevelDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into t_stock_realtime_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockRealtimeId != null" >
        stock_realtime_id,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amout != null" >
        amout,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockRealtimeId != null" >
        #{stockRealtimeId,jdbcType=BIGINT},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="amout != null" >
        #{amout,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.stock.model.StockRealTimeLevelDOCondition" resultType="java.lang.Integer" >
    select count(*) from t_stock_realtime_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update t_stock_realtime_level
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.stockRealtimeId != null" >
        stock_realtime_id = #{record.stockRealtimeId,jdbcType=BIGINT},
      </if>
      <if test="record.tradeType != null" >
        trade_type = #{record.tradeType,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.amout != null" >
        amout = #{record.amout,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update t_stock_realtime_level
    set id = #{record.id,jdbcType=BIGINT},
      stock_realtime_id = #{record.stockRealtimeId,jdbcType=BIGINT},
      trade_type = #{record.tradeType,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      amout = #{record.amout,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.model.StockRealTimeLevelDO" >
    update t_stock_realtime_level
    <set >
      <if test="stockRealtimeId != null" >
        stock_realtime_id = #{stockRealtimeId,jdbcType=BIGINT},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="amout != null" >
        amout = #{amout,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.model.StockRealTimeLevelDO" >
    update t_stock_realtime_level
    set stock_realtime_id = #{stockRealtimeId,jdbcType=BIGINT},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      amout = #{amout,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>